<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135688604825-bksl7pi7d9g4l3o93f2fdtcvau5pnj9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135688604825-bksl7pi7d9g4l3o93f2fdtcvau5pnj9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAoRgZQ_XTYHOyiTN7xG7h9QbsZ2kgcwa4</string>
	<key>GCM_SENDER_ID</key>
	<string>135688604825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erentuna.timeManagementApp</string>
	<key>PROJECT_ID</key>
	<string>time-management-app-b5861</string>
	<key>STORAGE_BUCKET</key>
	<string>time-management-app-b5861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135688604825:ios:95143de921a317d7b5bc08</string>
	<key>DATABASE_URL</key>
	<string>https://time-management-app-b5861.firebaseio.com</string>
</dict>
</plist>